{% extends "base.html" %}

{% block content %}
         <script type="text/javascript"
         src="/static/js/detail.js">
         </script>
        <div>
          <div>
            <h2><a latest_index="{{latest_index}}" href="http://www.yyets.com/resource/{{show.show_id}}">{{ show.show_name }}</a></h2>
	        <h4 style="display:inline;margin-left:200px">Latest:S{{show.latest_season}}E{{show.latest_episode}}      {{show.updated_at}}</h4>
          </div>
         {% if follow != 'anonymous' %}
         <form action="/{{follow}}/{{show.show_id}}/" method="post" class    ="navbar-form navbar-left" style="display:inline;float:right!important">
             <input type="submit" class="btn btn-success" style="float:right;display:inline;margin-left:5px" value="{{follow}}">
        </form>
        {% endif %}
        {% for episodes in episodes_array %}
            <div class="btn-group" >{{ episodes[0].season }}<br>
            {% for episode in episodes%}
                <a class="btn btn-default" index="{{episode.season * 100 + episode.episode}}" href="{{episode.ed2k_link}}" style="display:inline">
                {{ episode.episode }}
                </a>
            {% endfor %}
            </div>
        {% endfor %}
        <div>
        <button style="margin-top:20px"class="btn btn-success" id="update_follow">
        Update!
        </button>
        </div>
        </div>
{% endblock %}
