{% import "_show_list.html" as show_list %}
{% extends "base.html" %}

{% block content %}

    <script language="JavaScript" type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
        {{ show_list.render(shows) }}
        <div>
            <dl>
                <dd><input class="form-control" id="add_link" type="text" in="false" value="输入链接...">
                <button class="button" id="btn_add_link">添加链接</button>
                </dd>
            </dl>

            <div id="link_list">
                <ul id="linkList">
                {% for link in links %}
                    <li class="downloadLinks">{{link.ed2k_link}}<button class="button" id="btn_remove_link"> </button></li>
                {% endfor %}
                </ul>
            </div>

        </div>

{% endblock %}
