{% extends "base.html" %}

{% block content %}

    <script language="JavaScript" type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>

    {% for show in shows %}
        <div>
        <div style="float:left">
        <h2><a href="/details/{{show.show_id}}">{{ show.show_name }}</a></h2>
	    <h4 style="display:inline;margin-left:200px">Latest:S{{show.latest_season}}E{{show.latest_episode}}      {{show.updated_at}}</h4>
        </div>
        <div>
         <form action="/unfollow/{{show.show_id}}/" method="post" class    ="navbar-form navbar-left" style="display:inline;float:right!important;margin-top:40px">
             <input type="submit" class="btn btn-success" style="float:right;display:inline;margin-left:5px" value="Unfollow">
        </form>
        </div>

        </div>
    {% endfor %}
        <div>
            <dl>
                <dd><input class="form-control" id="add_link" type="text" value="输入链接...">
                <button class="button" id="btn_add_link">添加链接</button>
                </dd>
            </dl>

            <div id="link_list">
                <ul id="linkList">
                {% for link in links %}
                    <li class="downloadLinks">{{link.ed2k_link}}<button class="button" id="btn_remove_link"> </button></li>
                {% endfor %}
                </ul>
            </div>

        </div>

{% endblock %}
