{% extends "base.html" %}

{% block content %}
    {% for show in shows %}
        <div>
        <h2><a href="{{url_for('details.details', show_id=show.show_id)}}">{{ show.show_name }}</a></h2>
	    <h4 style="display:inline;margin-left:200px">Latest:S{{show.latest_season}}E{{show.latest_episode}}      {{show.updated_at}}</h4>
        {% if user != "Sign in" %}
        <!--<form action="/follow/{{show.show_id}}/" method="post" class    ="navbar-form navbar-left" style="display:inline;float:right!important">
             <input type="submit" class="btn btn-success" style="float:right;display:inline;margin-left:5px" value="Follow">
        </form>-->
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}
